/* Estilos generales de la página */
.epica-container {
  margin-bottom: 20px; /* Separación del contenedor de abajo */
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: white;
  padding: 10px; /* Mantiene espacio interno */
  width: 700px; /* Define ancho máximo */
  margin: 10px auto; /* Centra el contenedor horizontalmente */
  margin-top: 50px; /* Separación de 20px respecto al contenedor de arriba */
}


/* Título de la épica */
.epica-title {
  font-size: 2.5rem;
  color: #333333;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

/* Descripción de la épica */
.epica-description {
  font-size: 1.2rem;
  color: #666666;
  margin-bottom: 30px;
  text-align: center;
}

/* Subtítulo para la lista de historias */
.epics-subtitle {
  font-size: 2rem;
  color: #007bff;
  margin-bottom: 20px;
  text-align: center;
}

.divider {
  width: 100px;
  height: 2px;
  background-color: #007bff; /* Color de la línea */
  margin: 10px auto;
  border: none;
}

/* Lista de historias */
.epics-list {
  list-style-type: none;
  padding: auto;
  width: 600px;
  display: flex;
  flex-direction: column;
}

/* Cada historia individual */
.epic-story-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}

/* Estilos del enlace de la historia */
.epic-story-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: #333;
  display: block;
  text-align: center;
  font-weight: 600;
  margin-left: 10px;
}

.epic-story-link:hover {
  color: #007bff; /* Cambiar el color del enlace al pasar el cursor */
}

/* Efecto hover en cada historia */
.epic-story-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

