
/* Lista de hisotiras */
.story-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 600px;
  margin: 50px auto; /* Centra el contenedor horizontalmente */
}

/* Cada historia individual */
.story-item {
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: white;
  padding: 15px; /* Espacio interno reducido */
  width: 100%;
  margin: 10px auto; /* Centrar el contenedor horizontalmente */
}

/* Efecto hover para cada historia */
.story-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

/* Estilo del enlace */
.storys-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  max-width: 450px;
}

/* Título de la historia */
.storys-name {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
  color: #333;
  white-space: nowrap; /* Evita que el título se divida en varias líneas */
  overflow: hidden; /* Si el título es muy largo, oculta el texto sobrante */
  text-overflow: ellipsis; /* Añade "..." al texto largo */
}

/* Descripción de la historia */
.storys-description {
  font-size: 1.2rem;
  color: #666;
  margin: 0;
  text-align: center;
  white-space: nowrap; /* Evita que el título se divida en varias líneas */
  overflow: hidden; /* Si el título es muy largo, oculta el texto sobrante */
  text-overflow: ellipsis; /* Añade "..." al texto largo */
  width: px;
}

/* Efecto hover para el título de la historia */
.storys-link:hover .storys-name {
  color: #007bff;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
  .story-list {
    width: 470px;
  }

  .storys-name {
    font-size: 1.5rem;
  }

  .storys-description {
    font-size: 1rem;
    max-width: 450px;
  }
}