/* Contenedor del Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #ffffff; /* Fondo blanco del sidebar */
  box-shadow: var(--shadow-elevation-medium); /* Sombras suaves */
  transition: transform 0.3s ease;
  transform: translateX(-100%); /* Oculto por defecto */
  z-index: 99;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px; /* Espaciado entre elementos */
  border-radius: 0 24px 24px 0; /* Bordes redondeados en la esquina derecha */
  border: 3px solid black; /* Borde negro */
}

.sidebar.open {
  transform: translateX(0); /* Muestra el sidebar */
}

/* Navegación dentro del sidebar */
.nav-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 500px;
  flex-direction: column;
}

.nav-links ul li {
  border: 2px solid black; /* Bordes negros para cada botón */
  border-radius: 20px; /* Bordes redondeados para cada botón */
  padding: 15px 20px; /* Espaciado interno para un área de clic más grande */
  text-align: center; /* Centra el texto dentro del contenedor */
  margin-top: 100px;
}

.nav-links ul li a {
  text-decoration: none;
  color: #333; /* Texto oscuro para mejor contraste */
  font-size: 1.2rem; /* Tamaño de fuente aumentado */
  font-weight: 600;
  display: block; /* Hace que el área de clic abarque todo el contenedor */
}

.nav-links ul li a:hover {
  color: #ff004d; /* Resalta el link con un color de acento */
}

/* Sección del perfil de usuario */
.user-profile {
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.user-profile a {
  text-decoration: none;
  color: #0077b6;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.user-profile a:hover {
  color: #005f86; /* Color de hover */
}

.user-profile p {
  margin-top: 10px;
  color: #607274; /* Color más suave para el texto */
  font-size: 0.9rem;
  font-weight: 400;
}

/* Ajustes de diseño responsivo */
@media (max-width: 768px) {
  .sidebar {
    width: 200px; /* Ajuste de ancho en pantallas pequeñas */
  }

  .nav-links{
    height: 320px;
  }

  .nav-links ul li a {
    font-size: 1rem; /* Ajuste de tamaño de fuente en pantallas pequeñas */
  }

  .nav-links ul li {
    margin-top: 50px;
  }
}


.button-container {
  display: flex; /* Usa flexbox para alinear los botones */
  justify-content: space-between; /* Espacio entre los botones */
}

