/* Estilos del panel lateral */
.sidebar {
    position: fixed;
    top: 0;
    left: -300px; /* Fuera de la pantalla */
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: white;
    transition: left 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Para que el perfil de usuario esté al fondo */
    padding: 20px;
    overflow-y: auto;
  }
  
  .sidebar.open {
    left: 0; /* Cuando se abre, se desliza hacia la vista */
  }
  
  /* Estilos para el logo */
  .app-logo img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  
  /* Estilos para los enlaces de navegación */
  .nav-links ul {
    list-style-type: none;
    margin: 0;
  }
  
  .nav-links ul li {
    margin: 50px 0;
  }
  
  .nav-links ul li a {
    color: white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 2rem;
  }

  .nav-links ul li a:hover {
    background-color: white;
    color:#333;
  }
  
  /* Estilos para el perfil de usuario */
  .user-profile {
    text-align: center;
    margin-top: auto; /* Hace que el perfil esté al final del panel */
  }
  
  .user-profile p {
    margin: 10px 0;
  }
  
  .user-profile a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .img{
    justify-content: center;
    height: auto;
    width: 70px;
}

.button{
  margin-left: 39px;
  display: inline-flex;
  background-color: #333;
  border: 2px solid black;
  border-radius: 5px;
  justify-content: center;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.button:hover{
  background-color: white;
}