/* Contenedor de la página de la historia */
.story-page-container {
  padding: 10px;
  width: 700px;
  margin: 0 auto; /* Centrar el contenedor en la página */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-bottom: 20px;
}

/* Contenedor interno de la historia */
.story-container {
  background-color: white;
  width: 600px;
  margin: auto;
}

/* Título de la historia */
.story-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0px;
}

/* Descripción de la historia */
.story-description {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
  text-align: center;
}

/* Subtítulo de las tareas */
.story-subtitle {
  font-size: 2rem;
  color: #007bff;
  margin-bottom: 20px;
  text-align: center;
}

/* Lista de tareas */
.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Cada tarea individual */
.task-item {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}



/* Descripción de la tarea */
.task-description {
  font-size: 1rem;
  color: #666;
}

.divider {
  width: 100px;
  height: 2px;
  background-color: #007bff; /* Color de la línea */
  margin: 10px auto;
  border: none;
}

/* Efecto hover para cada tarea */
.task-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

.task-item:hover .task-name {
  color: #007bff;
}

/* Contenedor principal de la tarea */
.task-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Contenedor del texto de la tarea */
.task-text {
  flex: 1; /* Ocupa todo el espacio disponible antes de los botones */
}

/* Contenedor de los botones */
.task-actions {
  display: flex; /* Coloca los botones en una fila */
  gap: 5px; /* Espaciado entre botones */
}

/* Botón de editar */
button.edit-button {
  background-color: transparent;
  color: #007bff;
  padding: 6px 12px;
  border: 1px solid #007bff;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  opacity: 0.8;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

button.edit-button:hover {
  background-color: rgba(0, 123, 255, 0.2);
  color: #0056b3;
  border-color: #0056b3;
}

/* Botón de eliminar */
button.delete-button {
  background-color: transparent;
  color: #ff4d4f;
  padding: 6px 12px;
  border: 1px solid #ff4d4f;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  opacity: 0.8;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

button.delete-button:hover {
  background-color: rgba(255, 77, 79, 0.2);
  color: #ff4d4f;
  border-color: #ff4d4f;
}

/* Estilo específico para el contenedor de tareas y formulario */
.tasks-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  /* Alinea los elementos a la izquierda */
  margin-bottom: 10px;
  width: 100%; /* Asegura que ocupe todo el espacio */
}

/* Estilo para el botón de agregar tarea */
.add-task-button {
  background-color: transparent; /* Fondo transparente */
  color: #333; /* Color oscuro para el texto */
  padding: 8px 16px; /* Espaciado más pequeño */
  border: 1px solid #ccc; /* Borde sutil y fino */
  border-radius: 4px; /* Bordes ligeramente redondeados */
  cursor: pointer;
  font-size: 0.9rem; /* Tamaño de fuente más pequeño */
  transition: all 0.3s ease; /* Transición suave para todos los efectos */
  margin-bottom: 10px; /* Espacio debajo del botón */
}

.add-task-button:hover {
  background-color: #f0f0f0; /* Color de fondo muy suave al pasar el cursor */
  border-color: #007bff; /* Borde azul suave en hover */
  color: #007bff; /* Color de texto azul en hover */
}

.add-task-button:focus,
.add-task-button:active {
  outline: none; /* Sin borde al hacer clic */
  transform: scale(1.02); /* Ligeramente más grande al hacer clic */
}

.loading-message, .error-message {
  font-size: 1rem;
  text-align: center;
  margin: 10px 0;
}

.loading-message {
  color: #007bff;
}

.error-message {
  color: #ff4d4f;
}

.no-tasks-message {
  font-size: 1.2rem;
  font-weight: bold;
  color: #666;
  text-align: center;
  margin: 20px 0;
}

.task-name {
  font-size: 1.5rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 480px;

  &.task-done {
    text-decoration: line-through;
    color: #888; // Opcional, un color más tenue para texto tachado
  }
}



