/* Asegura que html y body cubran toda la ventana */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e0f2f1; /* El color de fondo que prefieras */
    font-family: 'Arial', sans-serif; /* Asegúrate de que la fuente sea consistente */
  }
  
  /* Asegura que el div con id="root" cubra toda la pantalla */
  #root {
    min-height: 100vh; /* Ocupa al menos toda la ventana */
    display: flex;
    flex-direction: column;
    background-color: inherit; /* Hereda el color de fondo */
  }